/* Modification of Bootstrap's
 * default styles.
 * ---------------------------*/
.btn {
  border-radius: 2px; }
  .btn.min-w40 {
    min-width: 100px; }

.btn-primary {
  background-color: #3498DB;
  border: none; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #2980B9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }

.btn-success {
  background-color: #2ECC71;
  border: none; }
  .btn-success:hover, .btn-success:active {
    background-color: #27AE60;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }

.dropdown-menu {
  right: 0;
  left: auto; }

/* ---
 * Nav
 * ---*/
.navbar {
  min-height: 40px;
  max-height: 46px; }

.navbar-default {
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.navbar-nav > li > a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .02em; }

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 13px;
    padding-bottom: 13px; } }
@media (max-width: 767px) {
  .navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 6px; } }
.navbar-center {
  float: none !important;
  margin: 0 auto;
  display: inline-block; }

.navbar-right {
  margin-right: 0; }

@media (max-width: 767px) {
  .navbar-left, .navbar-right, .navbar-center {
    display: inline-block; }
    .navbar-left > li, .navbar-right > li, .navbar-center > li {
      display: inline-block; }

  .navbar-left {
    float: left; }

  .navbar-right {
    float: right; } }
.navbar-fixed-top + #page-content-wrapper {
  margin-top: 46px; }

@media (min-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    position: absolute;
    right: 0;
    left: auto; } }
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    position: absolute;
    right: auto;
    left: 0; } }
/* -----
 * Forms
 * -----*/
.form-control {
  background-color: #f2f2f2;
  border: 1px solid #e8e8e8; }
  .form-control:disabled {
    background-color: #e9e9e9;
    box-shadow: none; }

textarea.form-control {
  resize: vertical; }

select.form-control option.divider {
  height: 2px;
  border-bottom: 1px solid #999; }

/* -------------
 * HTML elements
 * -------------*/
body {
  margin: 0; }

hr {
  clear: both; }
  hr.borderless {
    border: none; }

h2 {
  font-size: 22px; }

/* -------------
 * Helper styles
 * -------------*/
.center {
  text-align: center; }

.right {
  text-align: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }

/* -------------
 * Custom styles
 * -------------*/
.hide {
  display: none; }

.brand {
  color: #C0392B;
  font-family: 'Racing Sans One';
  letter-spacing: .02em; }

.navbar-default .navbar-nav li > a.brand {
  color: #C0392B;
  font-family: 'Racing Sans One';
  font-size: 1.65em; }

img.preview {
  max-width: 68px;
  max-height: 68px; }

ul.status-bar {
  list-style: none; }
  ul.status-bar li {
    display: inline-block;
    width: 68px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    color: #c9c9c9; }
    ul.status-bar li.active {
      color: #27AE60; }
    ul.status-bar li.divider {
      width: 30px;
      border-bottom: 4px solid #d8d8d8;
      margin-bottom: 41px; }

.circle {
  display: inline-block;
  background: #c9c9c9;
  width: 50px;
  padding: 15px 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  text-align: center; }

.active > .circle {
  background: #2ECC71;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }

@media (max-width: 500px) {
  ul.status-bar li {
    width: 40px; }
    ul.status-bar li.divider {
      width: 18px;
      margin-bottom: 36px; }

  .circle {
    width: 35px;
    padding: 12px 0;
    font-size: 12px; } }
.icon {
  display: inline-block; }
  .icon .icon-bar {
    display: block;
    background: #C0392B;
    height: 3px;
    width: 16px;
    margin: 2px; }
  .icon .icon-bar:first-child {
    margin-top: 1px; }
  .icon .icon-dot {
    display: block;
    background: #777;
    height: 3px;
    width: 3px;
    margin: 3px; }
  .icon .icon-dot:first-child {
    margin-top: 1px; }

/* ---------------
 * Custom elements
 * ---------------*/
/* Forms */
.form {
  width: 100%;
  max-width: 500px;
  margin: auto; }
  .form fieldset:first-child legend {
    padding-top: 0px; }
  .form legend {
    padding-top: 20px; }
  .form label {
    color: #777;
    font-weight: 400; }
  .form textarea {
    min-height: 100px; }

#form-login {
  width: 100%;
  max-width: 300px;
  margin: auto; }

/* Tables */
.table tr td h1, .table tr td h2, .table tr td h3, .table tr td h4 {
  margin-top: 6px; }

/* ------
 * Charts
 * ------*/
.bar-chart-h {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 200px; }
  .bar-chart-h li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 200px; }
    .bar-chart-h li span.title {
      display: block;
      padding: .2em 0;
      color: #777;
      text-align: center;
      font-size: 12px; }
    .bar-chart-h li span.bar {
      display: block;
      background: #3498DB;
      margin: 0 .25em;
      animation: draw-v 1s ease-in-out;
      color: #fff;
      font-size: 10px;
      text-align: center;
      word-wrap: break-word; }

@keyframes draw-v {
  0% {
    height: 0; } }
.bar-chart-v {
  list-style: none;
  width: 100%; }
  .bar-chart-v li {
    position: relative;
    display: block;
    width: 100%;
    color: #999;
    font-size: 12px; }
    .bar-chart-v li span.title {
      display: inline-block;
      width: 15%;
      padding: 0 .25em;
      color: #777;
      font-size: 12px;
      text-align: right;
      white-space: nowrap; }
    .bar-chart-v li span.bars {
      width: 84%;
      position: relative;
      display: inline-block;
      margin: .25em 0; }
      .bar-chart-v li span.bars span.bar {
        display: block;
        padding: 0 .25em;
        background: #3498DB;
        color: #fff;
        text-align: right;
        animation: draw-h 1s ease-in-out; }

@keyframes draw-h {
  0% {
    width: 0; } }

/*# sourceMappingURL=style.css.map */
